<mat-toolbar color="primary" role="heading" class="mat-elevation-z3">
  <div class="col-md-3 col-1 home" routerLink="/">
    <span>
      <i class="fa fa-compact-disc"></i>
      <span class="hidden-md hidden-sm hidden-xs"> Angular Music Player</span>
    </span>
  </div>
  <div class="col-md-6 col-11">
    <div class="search-container">
      <i class="fa fa-search search-icon"></i>
      <input type="text" placeholder="Search Artist" class="search-input" #searchBox>
      <mat-list class="mat-elevation-z3 search-result" *ngIf="searchResults.length > 0 && !hideResult">
        <mat-list-item class="search-result-item" role="listitem" *ngFor="let artist of searchResults">
          <a (click)="onResultClick()" [routerLink]="[artist.artistId, artist.artistName]">{{artist.artistName}}</a>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</mat-toolbar>
<div class="container">
  <div class="body_container">
    <div class="row">
      <div class="col-md-3 hidden-xs"></div>
      <div class="col-md-6 col-12">
        <p class="searching">
          <span *ngIf="loading">Searching...</span>
          <mat-spinner *ngIf="loading" [diameter]="20" class="float-right"></mat-spinner>
        </p>
      </div>
      <div class="col-md-3 hidden-xs"></div>
    </div>
    <h1>Enjoy the music !</h1>
    <h3>
      Use the search bar to look up artists, you can then choose one to list their albums.<br />
      Choose an album and preview a song from it !
    </h3>
    <h1>ADD TESTING</h1>
    <h1>ADD to guthub</h1>
    <h1>ADD firebase link</h1>
    <router-outlet></router-outlet>
  </div>
</div>
<mat-toolbar role="footer" class="mat-elevation-z3 music-control">
  <app-player></app-player>
</mat-toolbar>
